$dark_color: #191919;
$link_color: #6299c5;
$link_hover_color: #693;
$menu_color:#4B9376;
$workspace_bg_color1: #5db585;
$workspace_bg_color2: #86c23c;
$workspace_text: #304812;
$line_color: #333;

$menu_hover_text:#d9e5e0;
$menu_hover_bg:#417d64;