@import "compass/utilities";
@import "compass/css3/border-radius";
@import "colors";


.menu{
  //include the code to transform this in an horizontal list
  padding-top:20px;
  padding-bottom:20px;
}

.menu li{
  //include the code to transform this in an horizontal list item

  a {
      padding:10px;
      color: white;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        //include the code for the color
        //include the code to round the borders
        }
      }


}
