<%= stylesheet_link_tag "global" %>

<div id="gutter">
  <div class="gutter-container">
      <a class ="logo" href="/"><img alt="Online collaboration that is user friendly, well designed and cost-effective" height="40" src="/images/logo_onehub_rev154x40.png" title="Onehub" width="154" /></a>
    <em class="sign-in">Already an <strong>existing Onehub customer?</strong></em>
    <button class="buttons">
      <a href="https://app.onehub.com/login" class="button wide">Sign In</a>
    </button>
  </div>
</div>

<div id="navigation">
  <div class="menu-container">
    <ul class="menu">
      <li id="current" class="menu_home"><a href="/">Home</a></li>
      <li class="menu_workspaces"><a href="/products/workspaces">Workspaces</a></li>
      <li class="menu_transfers"><a href="/products/transfers">Transfers</a></li>
      <li class="menu_support"><a href="/support">Support</a></li>
      <li class="menu_about"><a href="/about">About</a></li>
      <li class="menu_blog"><a href="/blog/">Blog</a></li>
    </ul>
  </div>
</div>

<div id="banner">
  <div class="workspaces">
      <img class="hero" height="300" width="460" src="/images/hero.png" title="Onehub" width="154" />
      <div class="text-workspaces">
        <strong class="workspace-title">Onehub Workspaces</strong>
        <h1><strong>Customizable workspaces for online collaboration</strong>. Manage projects, share files and collaborate with others.</h1>
        <div class="uber_button" id="call_to_action">

          <button class="worspace-button">Try Workspaces for Free</button>

          or <a href="/products/workspaces/tour" class="passive">Watch the Tour</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg_footer">
  <div class="footer">
    <div class="column-footer">
      <h3>Onehub</h3>
      <p>Based in Bellevue, WA and passionate about collaboration. Onehub provides on demand collaboration software that empowers business teams around the globe by simplifying the way they work together.</p>
      <ul class="suggestions">
        <li><a href="/about">Learn More About Us</a></li>
        <li><a href="/about/team">Meet the Team</a></li>
        <li><a href="/about/careers">Careers at Onehub</a></li>
        <li><a href="/about/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <h3>Products</h3>
      <p>Simplify the way your business teams work together with Onehub Workspaces and Onehub Transfers, our full-featured collaboration platform and simple, secure file sharing solutions.</p>
      <ul class="suggestions">
        <li><a href="/products/workspaces">Workspaces</a></li>
        <li><a href="/products/transfers">Transfers</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <h3>Solutions</h3>
      <p>Onehub has solutions to help growing businesses work more efficiently by improving communication and information sharing. Explore the links below to discover how Onehub can take your business to the next level of productivity.</p>
      <ul class="suggestions">
        <li><a href="/solutions/online_collaboration">Online Collaboration</a></li>
        <li><a href="/solutions/ftp_replacement">FTP Replacement</a></li>
        <li><a href="/solutions/secure_file_transfer">Secure File Transfer</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <h3>Support</h3>
      <p>Have a question or problem? You can find answers in our support area and FAQ - or contact us so we can help.</p>
      <ul class="suggestions">
        <li><a href="/support/screencasts">Support Overview</a></li>
        <li><a href="http://help.onehub.com/forums/41597/entries">Frequently Asked Questions</a></li>
        <li class="support">
          <strong>Contact Support</strong>
          <a href="mailto:support@onehub.com">support@onehub.com</a>
        </li>
      </ul>
    </div>
    <div class="runner">
      <div class="logo">
        <a href="/"><img alt="Online collaboration that is user friendly, well designed and cost-effective" height="26" src="/images/logo_onehub_rev100x26.png?1288126153" width="100" /></a>
      </div>
      <div class="copyright">
        <p>&copy; 2010 Onehub Inc. All rights reserved</p>
      </div>
      <div class="pitch-runner">
        <p><a href="/developer">Developer Resources</a></p>
      </div>
    </div>
  </div>
</div>
